* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


nav {
    height: 10vh;
    width: 100%;
    background-color: rgba(13, 20, 34, 0.644);
    position: relative;
}

header {
    width: 100%;
    position: fixed;
}

.logo{
    margin-left: 2rem;
    color: #b1f710;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-20px, -50%);
    transition: opacity 250ms ease;
    font-weight: 600;
}

.navlinks ul { 
    
    list-style: none; 
    display: table;
    text-align: center;
  }

 .navlinks li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }

  .navlinks a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

  .navlinks a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .navlinks a:hover:after { 
    width: 100%; 
    left: 0; 
  }


.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    width: 50%;
    margin-left: auto;
}

main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/donate.jpeg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #0c0c04;
}

p{
   color: #fff;
   width: 50%;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 1.2px;
   line-height: 40px
}